body {
    background-color: #eae4d4;
}

h1, h2 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    font-size: 25px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

form {
    font-size: 15px;
}

hr {
    color:black;
}

.formulaire {
    margin-top: 30px;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

input
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:1em;
    font-weight: lighter;
}

input[type=text]
{
    padding: 5px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #eae4d4;
    border-bottom: 2px solid black;
}

input[type=text]:focus
{
    outline: none;
    border-bottom: 5px solid black;
    background-color:#eae4d4;
}

input[type=submit], .button
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    font-size: 1em;
    padding: 12px 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 20px;
}

input[type=submit]:hover, .button:hover
{
    background-color: #84bde3;
}

input[type=submit]:focus, .button:hover
{
    outline: none;
}

.centrer {
    text-align: center;
}