{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <title>Météo</title>
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="screen"
      charset="utf-8"
    />

  </head>

  <body>
    
    <h1>Application Météo</h1>
    <hr>
    
    <!-- Formulaire de connexion -->
    <div class="formulaire">
      <form method="post">
        {% csrf_token %}
        Prénom : <br /> 
        <input type="text" name="prenom" placeholder="Exemple" > <br /><br />
        Localisation : <br /> 
        <input type="text" name="localisation" placeholder="Lieu" > <br /><br />
        <input type="submit" value="Je veux la météo !" />
      </form>
    </div>

  </body>
</html>
