{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8" />
    <title>Météo</title>
    <link
      rel="stylesheet"
      href="{% static 'css/style.css' %}"
      type="text/css"
      media="screen"
      charset="utf-8"
    />

  </head>

  <body>
    
    <h1>Application Météo</h1>
    <hr>
    
    <h2>Hello {{ prenom }} ! </h2>

    <div class="centrer">
        <!-- Affichage de la localisation et de la température -->
        <p>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
          <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg> 
          {{ localisation }}  
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-half" viewBox="0 0 16 16">
          <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"/>
          <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
          </svg>
          {{ temperature }} °C
        </p> <br />
        <!-- Affichage de l'image indiquant la météo actuelle  -->
        <img src="static/assets/{{ temps }}" alt="temps" width="200px", height="200px"/> 
    </div>
    <br />
    <!-- Bouton de retour -->
    <div class="centrer">
        <button class="button" onclick="history.back()">Retour</button>
    </div>

  </body>
</html>
